{% extends "base.html" %}
{% block title %}{{ category.capitalize() }} - TigerCart{% endblock %}

{% block content %}
<h1>{{ category.capitalize() }}</h1>
<ul>
    {% for item_id, item in items.items() %}
    <li>{{ item.name }} - ${{ item.price }}
        <!-- <button class="add-to-cart" data-item-id="{{ item_id }}">Add to Cart</button> -->
        <button class="add-to-cart" data-item-id="1">Add to Cart</button>
    </li>
    {% endfor %}
</ul>
<a href="{{ url_for('cart_view') }}">
    <i class="fas fa-shopping-cart"></i>    View Cart
</a>
{% endblock %}
