{% extends "base.html" %}
{% block title %}Delivery Details - TigerCart{% endblock %}

{% block content %}
<h1>Delivery Details</h1>

<hr color="#ff5722">

<h2><u>Logistics</u></h2>

<p><strong>Delivery Location:</strong> {{delivery.location}}</p>
<p><strong>Timestamp:</strong> {{ delivery.timestamp }}</p>
<p><strong>User ID:</strong> {{ delivery.user_id }}</p>
<p><strong>Total Items:</strong> {{ delivery.total_items }}</p>

<hr color="#ff5722">

<h2><u>Items</u></h2>
<ul>
    <table style="border: 1px solid black; border-collapse: collapse;" align="center">
        <thead style="border: 1px solid black;">
            <tr>
                <td style="border: 1px solid black;"><strong>Item</strong></td>
                <td style="border: 1px solid black;"><strong>Unit Price ($)</strong></td>
                <td style="border: 1px solid black;"><strong>Quantity</strong></strogn></td>
                <td style="border: 1px solid black;"><strong>Total Price ($)</strong></td>
            </tr>    
        </thead>
        <tbody style="border: 1px soli black;">
            {% for item_id, item in delivery.cart.items() %}
            <tr>
                <td style="border: 1px solid black;">{{item.name}}</td>
                <td style="border: 1px solid black;">{{"%.2f"|format(item.price)}}</td>
                <td style="border: 1px solid black;">{{item.quantity}}</td>
                <td style="border: 1px solid black;">{{"%.2f"|format(item.total)}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</ul>

<hr color="#ff5722">

<h2><u>Cost</u></h2>
<p><strong>Subtotal:</strong> ${{ "%.2f"|format(delivery.subtotal) }}</p>
<p><strong>Earnings:</strong> ${{ "%.2f"|format(delivery.earnings) }}</p>

<hr color="#ff5722">

<!-- Accept and Decline Forms -->
<div style="margin-top: 20px;">
    <form action="{{ url_for('accept_delivery', delivery_id=delivery.id) }}" method="post" style="display:inline;">
        <button type="submit">Accept</button>
    </form>
    <form action="{{ url_for('decline_delivery', delivery_id=delivery.id) }}" method="post" style="display:inline;">
        <button type="submit">Decline</button>
    </form>
</div>

{% endblock %}

