<!-- templates/shop.html -->

{% extends "base.html" %}
{% block title %}Shop - TigerCart{% endblock %}

{% block content %}
    <h1>Select a Category</h1>
    <a href="{{ url_for('category_view', category='drinks') }}">Drinks</a>
    <br>
    <a href="{{ url_for('category_view', category='food') }}">Food</a>
    <br>
    <a href="{{ url_for('category_view', category='other') }}">Other</a>
    <br>
    <br>
    <a href="{{ url_for('cart_view') }}">
        <i class="fas fa-shopping-cart"></i> View Cart
    </a>

    {% if current_order %}
        <hr color="#ff5722">
        <h2>Your Current Order</h2>
        <p><strong>Order ID:</strong> {{ current_order['id'] }}</p>
        <p><strong>Status:</strong> {{ current_order['status'] }}</p>
        <a href="{{ url_for('shopper_timeline') }}">View Order Timeline</a>
    {% endif %}
{% endblock %}
